---
import SectionLayout from "@layouts/SectionLayout.astro";
---

<SectionLayout id="about">
  <h1 class="title-section">Sobre mí</h1>
  <p>
    ¡Hola! Mi nombre es Felipe, soy un desarrollador junior front-end entusiasta que
    descubrió el fascinante mundo de la informática de manera fortuita. Aunque
    inicialmente me inclinaba hacia la física, gracias a una charla en mi instituto,
    decidí darle una oportunidad al mundo de la programación. Desde entonces me he
    entregado por completo a este camino, encontrando mi pasión.
  </p>
</SectionLayout>

<style>
 p {
  max-width: 500px;
  text-indent: 10px;
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
 }
</style>
