---
import SectionLayout from "@layouts/SectionLayout.astro";
import ProjectContainer from "@components/ProjectContainer.astro";
import { getAllProjects } from "@services/projects.js"

let projects = getAllProjects();
---

<SectionLayout id="projects">
  <h1 class="title-section">Proyectos</h1>
  <div class="projects">
    {projects.map((project) => <ProjectContainer data={project} />)}
  </div>
</SectionLayout>

<style>
  h1 {
    margin: 20px 0;
  }

  .projects {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
