---
import Layout from "@layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";
import HeroSection from "./HeroSection.astro";
import AboutSection from "./AboutSection.astro";
import ProyectsSection from "./ProjectsSection.astro";
---

<Layout title="Felipe Ramirez | FrontEnd Dev">
  <header>
    <NavBar />
  </header>
  <main>
    <HeroSection></HeroSection>
    <AboutSection></AboutSection>
    <ProyectsSection></ProyectsSection>
  </main>
</Layout>
