---
import Layout from "@layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";
import HeroSection from "@components/sections/HeroSection.astro";
import AboutSection from "@components/sections/AboutSection.astro";
import ProyectsSection from "@components/sections/ProjectsSection.astro";
---

<Layout title="Felipe Ramirez | FrontEnd Dev">
  <header>
    <NavBar />
  </header>
  <main>
    <HeroSection></HeroSection>
    <AboutSection></AboutSection>
    <ProyectsSection></ProyectsSection>
  </main>
</Layout>
