---
import Layout from "../layouts/Layout.astro";
import CollapseIcon from "../components/Icons/CollapseIcon.astro";
---

<Layout title="Felipe Ramirez | FrontEnd Dev">
  <main>
    <CollapseIcon></CollapseIcon>
  </main>
</Layout>

<style></style>
