---
import CollapseIcon from "./Icons/CollapseIcon.astro";
import HeartIcon from "./Icons/HeartIcon.astro";
---

<script>
  const nav = document.querySelector("nav");
  const collapseButton = document.querySelector(".collapse-icon-container");
  const anchors = document.querySelectorAll("li a");

  const changeCollapseState = () => {
    if (nav.classList.contains("unfold")) {
      nav.classList.replace("unfold", "fold");
    } else if (nav.classList.contains("fold")) {
      nav.classList.replace("fold", "unfold");
    } else {
      nav.classList.add("unfold");
    }
  };

  collapseButton.addEventListener("click", () => changeCollapseState());

  for (let anchor of anchors) {
    anchor.addEventListener("click", () => changeCollapseState());
  }
</script>

<nav>
  <div class="collapse-icon-container">
    <CollapseIcon />
  </div>
  <div class="content-navbar">
    <ul>
      <li>
        <a href="#hero" aria-label="Go about me section">Inicio</a>
      </li>
      <li>
        <a href="#about" aria-label="Go about me section">Sobre Mí</a>
      </li>
      <li>
        <a href="#projects" aria-label="Go my proyects section">Proyectos</a>
      </li>
    </ul>
    <hr />
    <span class="navbar-footer"
      >Desarrollado con <span class="footer-icon"><HeartIcon /></span>
    </span>
  </div>
</nav>

<style>
  nav {
    mix-blend-mode: difference;
    position: fixed;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-base-txt);
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
  }

  nav.fold {
    transition-property: all;
    transition-delay: 0.8s;
    animation-name: fold;
  }

  nav.unfold {
    mix-blend-mode: normal;
    width: 100%;
    max-width: 440px;
    height: 100%;
    background: #151515;
    color: var(--clr-base-txt);
    animation-name: unfold;
  }

  .collapse-icon-container {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    top: 5px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
  }

  .content-navbar {
    display: none;
  }

  nav.unfold .content-navbar {
    display: block;
  }

  ul {
    list-style: none;
    gap: 20px;
  }

  ul,
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: var(--clr-base-txt);
  }

  hr {
    width: 240px;
    margin: 20px 0;
  }

  .navbar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .footer-icon {
    display: block;
    width: 1.2rem;
    animation: beat 0.7s ease-in-out infinite alternate both;
    filter: saturate(2) brightness(0.9);
  }

  @keyframes fold {
    0%,
    100% {
      width: 100%;
      max-width: 440px;
      height: 100%;
    }

    0% {
      clip-path: circle(150% at 100% 0);
      mix-blend-mode: normal;
    }

    90% {
      mix-blend-mode: normal;
    }

    100% {
      clip-path: circle(0 at 100% 0);
      mix-blend-mode: difference;
    }
  }

  @keyframes unfold {
    0% {
      clip-path: circle(0 at 100% 0);
    }

    100% {
      clip-path: circle(150% at 100% 0);
    }
  }

  @keyframes hiddeElement {
    0% {
      display: block;
    }
    90% {
      display: block;
    }
    100% {
      display: none;
    }
  }

  @keyframes underline {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes beat {
    0% {
      scale: 0.8;
    }
    100% {
      scale: 1;
    }
  }

  @media (min-width: 320px) {
    ul {
      font-size: 1.4rem;
    }
  }

  @media (min-width: 768px) {
    ul {
      font-size: 1.5rem;
    }

    .collapse-icon-container {
      top: 10px;
      right: 20px;
    }
  }

  @media (hover: hover) {
    a {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    a:hover {
      color: var(--clr-secondary);
      transition: color 0.2s ease-in-out;
    }

    li a::after {
      content: "";
      display: block;
      position: relative;
      bottom: -5px;
      height: 2px;
      background: transparent;
    }

    li a:hover::after {
      background: var(--clr-primary);
      animation: underline 0.5s forwards;
    }
  }
</style>
