---
import CollapseIcon from "./Icons/CollapseIcon.astro";
import GitHubIcon from "./Icons/GitHubIcon.astro";
import LinkedInIcon from "./Icons/LinkedInIcon.astro";
import HeartIcon from "./Icons/HeartIcon.astro";
---

<script>
  const nav = document.querySelector("nav");
  const collapseButton = document.querySelector(".collapse-icon-container");
  const anchors = document.querySelectorAll("li a");

  const changeCollapseState = () => {
    if (nav.classList.contains("unfold")) {
      nav.classList.replace("unfold", "fold");
      manageContent(true);
    } else {
      nav.classList.add("unfold");
      manageContent(false);
    }
  };

  const manageContent = (isCollapse) => {
    const content = document.querySelector(".content-navbar") as HTMLElement;
    if (isCollapse) {
      setTimeout(() => {
        content.style.display = "none";
        nav.style["mix-blend-mode"] = "difference";
      }, 700);
    } else {
      content.style.display = "block";
      nav.style["mix-blend-mode"] = "normal";
    }
  };

  collapseButton.addEventListener("click", () => changeCollapseState());

  for (let anchor of anchors) {
    anchor.addEventListener("click", () => changeCollapseState());
  }
</script>

<nav>
  <div class="collapse-icon-container">
    <CollapseIcon />
  </div>
  <div class="content-navbar">
    <ul>
      <li>
        <a href="#about" aria-label="Go about me section">Sobre Mí</a>
      </li>
      <li>
        <a href="#projects" aria-label="Go my proyects section">Proyectos</a>
      </li>
    </ul>
    <div class="icons">
      <a
        href="https://github.com/JFelipeRG"
        target="_blank"
        aria-label="Go my github page"><GitHubIcon /></a
      >
      <a
        href="https://www.linkedin.com/in/felipe-ramirez-722460263/"
        target="_blank"
        aria-label="Go my linkedin page"><LinkedInIcon /></a
      >
    </div>
    <hr />
    <span class="navbar-footer"
      >Desarrollado con <span class="footer-icon"><HeartIcon /></span></span
    >
  </div>
</nav>

<style>
  nav {
    display: block;
    position: fixed;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-base-txt);
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    mix-blend-mode: difference;
  }

  nav.fold {
    transition-property: all 0.8s;
    transition-delay: 0.8s;
    animation-name: fold;
  }

  nav.unfold {
    width: 100%;
    max-width: 440px;
    height: 100%;
    background: #ccc;
    color: var(--clr-base-bg);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    animation-name: unfold;
  }

  .collapse-icon-container {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    top: 5px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
  }

  .content-navbar {
    display: none;
  }

  ul {
    list-style: none;
    gap: 20px;
  }

  ul,
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: var(--clr-base-bg);
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .icons a {
    width: 3rem;
  }

  hr {
    width: 240px;
    margin: 20px 0;
  }


  .navbar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .footer-icon {
    display: block;
    width: 1.2rem;
    animation: beat 0.7s ease-in-out infinite alternate both;
    filter: saturate(2) brightness(0.9);
  }

  @keyframes fold {
    0%,
    100% {
      width: 100%;
      max-width: 440px;
      height: 100%;
    }

    0% {
      clip-path: circle(150% at 100% 0);
    }

    100% {
      clip-path: circle(0 at 100% 0);
    }
  }

  @keyframes unfold {
    0% {
      clip-path: circle(0 at 100% 0);
    }

    100% {
      clip-path: circle(150% at 100% 0);
    }
  }

  @keyframes underline {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes beat {
    0% {
      scale: 0.8;
    }
    100% {
      scale: 1;
    }
  }

  @media (min-width: 320px) {
    ul {
      font-size: 1.4rem;
    }
  }

  @media (min-width: 768px) {
    ul {
      font-size: 1.5rem;
    }

    .collapse-icon-container {
      top: 10px;
      right: 20px;
    }
  }

  @media (hover: hover) {
    a {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    a:hover {
      color: var(--clr-secondary);
      transition: color 0.2s ease-in-out;
    }

    li a::after {
      content: "";
      display: block;
      position: relative;
      bottom: -5px;
      height: 2px;
      background: transparent;
    }

    li a:hover::after {
      background: var(--clr-primary);
      animation: underline 0.5s forwards;
    }
  }
</style>
