---
import SectionLayout from "@layouts/SectionLayout.astro";
import ProyectContainer from "./ProyectContainer.astro";

let proyects = await Astro.glob("@json/proyects.json");
proyects = proyects[0].default.proyects;
---

<SectionLayout id="proyects">
  <h1 class="title-section">Proyectos</h1>
  <div class="proyects">
    {proyects.map((proyect) => <ProyectContainer data={proyect} />)}
  </div>
</SectionLayout>

<style>
  h1 {
    margin: 20px 0;
  }

  .proyects {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
