---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Me llamo Felipe Ramirez, desarrollador FrontEnd
      residente en Valencia (España). Aquí puedes conocerme un poco más y ver
      algunos de mis últimos proyectos"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "SF UI Text Heavy";
    src: url("/fonts/SFUIText-Heavy.woff");
  }

  @font-face {
    font-family: "SF UI Text";
    src: url("/fonts/SFUIText-Regular.woff");
  }

  :root {
    /*    Base colors    */
    --clr-base-txt: #ffffff;
    --clr-base-bg: #363636;

    /*    Primary color   */
    --clr-primary: #4e94bf;

    /*    Secondary color   */
    --clr-secondary: #3270a6;

    /*    Tertiary color   */
    --clr-tertiary: #f2c49b;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    color: var(--clr-base-txt);
    background: var(--clr-base-bg);
    scrollbar-color: var(--clr-tertiary) var(--clr-base-lt);
    scrollbar-width: 1rem;
    scroll-behavior: smooth;
    font-size: 1.1rem;
    font-family: "SF UI Text", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  main > section:first-child {
    background: url(/img/hero-bg-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: 700px) {
    main > section:first-child {
      background: url(/img/hero-bg.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  main section:nth-child(2n) {
    color: var(--clr-base-bg);
    background: var(--clr-base-txt);
  }

  ::-webkit-scrollbar {
    width: 1em;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--clr-tertiary);
  }

  ::-webkit-scrollbar-track {
    background: var(--clr-base-bg);
  }
</style>
