---
export interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section class="main-section" id={id}>
  <slot />
</section>

<style is:global>
  .main-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .title-section {
    font-size: 3rem;
  }
</style>
